diff --git a/debian/control b/debian/control
index 18a56565c..5e6ef8be6 100644
--- a/debian/control
+++ b/debian/control
@@ -8,8 +8,8 @@ Uploaders: Tianon Gravi <tianon@debian.org>,
            Reinhard Tartler <siretart@tauware.de>
 Build-Depends: debhelper-compat (= 13),
                dh-golang,
+               golang-1.24-go,
                go-md2man,
-               golang-any,
                golang-github-blang-semver-dev,
                golang-github-container-orchestrated-devices-container-device-interface-dev (>= 0.8.0~),
                golang-github-containerd-btrfs-dev (>= 2),
