diff --git a/debian/control b/debian/control
index 18a5656..a5c3ea8 100644
--- a/debian/control
+++ b/debian/control
@@ -9,7 +9,7 @@ Uploaders: Tianon Gravi <tianon@debian.org>,
 Build-Depends: debhelper-compat (= 13),
                dh-golang,
                go-md2man,
-               golang-any,
+               golang-1.24-go,
                golang-github-blang-semver-dev,
                golang-github-container-orchestrated-devices-container-device-interface-dev (>= 0.8.0~),
                golang-github-containerd-btrfs-dev (>= 2),
